*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.todocover input, #exams, .myInput, #myClasses, .todocover button {
    width: 100%;
    height: 3em;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em;

}


.coverInput{
    width: 100%;
    height: 3em;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em;
}
.cover button{
        flex-grow: 1;
        min-width: 100px;
        margin: 2px;
        padding: 0px;
        height: 3em;
        background-color: rgb(230,230,230);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.5s;
        border-radius: 0.25em;
        border: none;
        
       
}

.buttoncontainer{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em; 
}

.examx {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: rgb(235,235,235);
}

.examp{
    margin: 30px 0px;
}

button{
    cursor: pointer;

}
input {
    cursor: text;
}

.cover, .todocover{
    background-color: white;
    max-width: 40em;
    padding: 1em;
    min-height: 15em;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(209,207,207);
  

}
main{
    height: 85vh;
    overflow-y: scroll;
    padding: 0 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(209,207,207);
    justify-content: center;
}

.navHeader, .navHeader2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}

.navHeader li, header li{
    display: inline-block;
    background-color: rgb(230,230,230);
    border-radius: 8px;
    padding: 8px;
    transition: 0.5s;
}

.todocover button:hover, .cover button:hover, .navHeader li:hover, header li:hover{
 
    background-color: rgb(129,129,129);
    cursor: pointer;

}

.navHeader a {
    text-decoration: none;
}

#body{
    width: 100%;
}
#head{
    text-align: center;
}

.options, input[type=radio]{
    padding:4px;
    cursor: pointer;
}

span {
    background-color: rgb(230,230,230);
    padding: 3px;
    border-radius: 8px;
    
}

.setExamMenu{
    text-align: center;
    background-color: rgb(129,129,129);
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 0.25em;
    border: none;
    margin:  0.25em ;
    overflow-x: scroll;
}

#submenu{
    background-color: rgb(209,207,207);
    border: 1px solid rgb(129,129,129);
    height: 85vh;
    min-width: 200px;
    width: 20%;
    position: absolute;
    z-index: 2;
    display: none;
    right: 0;
    padding: 10px;
}

#submenumenu, #subMenumenus li, #submenu li{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 90%;
    background-color: rgb(230,230,230);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;


}

#submenumenu:hover, #subMenumenus li:hover, #submenu li:hover{
    background-color: rgb(129,129,129);

}

a{
    text-decoration: none;
    color: inherit;
}


.mapBackround1{
    background-color: rgb(230,230,230);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    display: flex;
 
 }
 
 .mapBackround2{
     background-color: rgb(246,237,237);
     padding: 10px;
     margin: 10px 0px;
     border-radius: 10px;
     display: flex;
 
 }
 
 .mapBackround10{
    background-color: rgb(230,230,230);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    /* display: flex;
  */
 }
 
 .mapBackround20{
     background-color: rgb(246,237,237);
     padding: 10px;
     margin: 10px 0px;
     border-radius: 10px;
     /* display: flex; */
 
 }

 .mapBackroundButton{
    background-color: white;
    cursor: pointer;
 }

 .mapBackroundButton:hover{
    background-color: rgb(129,129,129);
 }